/**
 * Main SCSS file
 */

$text-color: #dee3ec;
$default-text-shadow: 0 0 5px rgba(0,0,0, 0.7);

html {
    background: url(/dist/img/bg.png) no-repeat left center fixed;
    background-size: cover;

    height: 100vh;

    font-size: 62.5%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;

    height: 100vh;

    background-color: transparent !important;

    font: 1.6rem/1.618 'Lalezar', cursive;
    color: $text-color;
}

h1 {
    margin: 0;
    padding: 0;

    font-size: 64px; /* Some tweener fallback that doesn't look awful */
    font-size: 8.0vw;
}

p {
    margin: 0;
    padding: 0;
}

p:not(:last-child) {
    margin-bottom: 16px;
}

.page-title {
    text-shadow: $default-text-shadow;
}
